/*HomePage*/
.container {
  min-height: calc(100vh - 50px);
  text-align: center;
}
.title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}
.homepage_image {
  width: 300px;
}

/* RegisterPage*/
/*LoginPage*/

.form {
  width: 320px;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
/* ContactsPage */
.container_contact {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
